body { 
             font-family: Arial, sans-serif; 
             margin: 20px; 
             text-align: center;
    -webkit-tap-highlight-color: transparent; 
         }
         .header {
             background-color: #000; 
             text-align: center; 
             padding: 10px 0; 
             position: fixed; 
             top: 0; 
             left: 0; 
             width: 100%; 
             height: 60px;
             z-index: 20; 
             display: flex; 
             flex-direction: row;               
             justify-content: center; 
             white-space: nowrap; 
             gap: 10px;
             align-items: center;     
        } 
.header h1 {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    text-decoration: none;
    font-family: 'Abril Fatface', serif;
    font-weight: 700;
    font-style: italic;
    color: #009500;
    background: #000;
    padding: 20px;
    text-shadow: 1px 0 0 #fff; 
    display: flex;
    align-items: center;
    gap: 2px; 
}

.header h1 span {
    display: inline-block;
    line-height: 1;
}

.header h1 .large {
    font-size: 28px;
}

.header h1 .medium {
    font-size: 28px;
}

.header h1 .small {
    font-size: 28px;
    color: #A0D6B4;
    text-shadow: none;
}
        .location { 
             cursor: pointer; 
             font-size: 16px; 
        }
        .icon-container {
             position: absolute;
             right: 10px; 
             display: flex;
             align-items: center;
             margin-right: 10px; 
             cursor: pointer;             
        }
        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 20px;
            border: 1px solid black;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
            display: none;            
            overflow-y: auto;
        }
.item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns by default */
  justify-content: center;
  gap: 20px; /* Default gap for mobile */
  width: calc(100% - 120px);
  margin: 0 auto;
  margin-top: -10px;
  padding: 10px;
  box-sizing: border-box;
}

/* Desktop Styles */
@media (min-width: 1024px) { /* Applies to screens wider than 1024px */
  .item-grid {
    grid-template-columns: repeat(3, 1fr); /* Example: 4 columns on desktop */
    gap: 20px; /* Increased gap for desktop */
    width: 80%; /* Centered grid with controlled width */
    max-width: 600px; /* Prevents it from becoming too wide */
  }
}
#itemPopup, #storesPopup, #popup3 {
  position: fixed;
  width: 100%;
  height: calc(100% - 105px);
  background-color: #ffffff;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: ;
  margin-top: 50px;
  padding-bottom: 70px;
  box-sizing: border-box;
}
#popup3 {
  padding-bottom: 120px;
}
         #errorPopup {
            position: fixed;
            display: none;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            width: 200px;
            height: 250px;
            background-color: white;
            border: 3px solid #009500;
            border-radius: 5px;
            box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.5);
            z-index: 1001; 
            padding: 10px; 
            box-sizing: border-box; 
         }
         #errorPopup button {
    background-color: #009500;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -30px;             
    transition: background-color 0.3s ease;
}

#errorPopup button:hover {
    background-color: #0056b3;
}
        #locationPopup, #cityPopup, #locationErrorPopup {
            position: fixed;
            top: 60px;
            right: 10px;
            width: 170px;
            height: 400px;
            background-color: #ffffff;
            display: none;
            overflow: auto; 
            z-index: 100;
            box-sizing: border-box;
            border: 2px solid #009500;
 
            display: none;
            flex-direction: column;
        }
        #locationPopup,#cityPopup {
            box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.8);
        }
        .popup-content {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 10px;
            max-height: calc(100% - 40px); 
        }
        #locationsList, #cityList {
            margin-top: 0px;
            text-align: left;
            margin-left: 10px; 
            color: #52595d; 
            font-weight: bold;
            overflow-y: auto; 
        } 
        .current-location {
            text-align: left;
            margin-bottom: 20px;
            margin-top: 15px;            
            color: #009500;
            cursor: pointer;
            font-weight: bold;
        }
        .current-location:hover {
            color: darkred;
        }               
        .popup-footer {
            position: sticky;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border-bottom: 1px solid #009500;
            background-color: #ffffff;
            z-index: 11; 
        }
        .popup-footer button {
            font-size: 18px; 
            background: none;
            border: none;
            cursor: pointer;
        }
        .popup-footer .back-btn {
            color: #7D0541;
        }
        .popup-footer button:last-child {
            color: #7D0541;
        }
        #locationsPopup h4 {
            text-align: center;
            color: red;
        }
        .header .replaceable-text {
            position: absolute;
            top: 20px;
            right: 30px;
            cursor: pointer;
            background: #fff;
            padding: 0px 5px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 12px;         
        }
        .current-location, .replaceable-text, .stores-card, .cardz {
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
        .bottom-popup {
            position: fixed;
            top: 150px;
            left: 50%; 
            width: 60%;            
            transform: translateX(-50%);
            background: rgba(0,0,0,1);
            color: white;
            font-size: 14px;
            padding: 5px;
            border-radius: 5px;
            display: none;
            z-index: 9999 !important;
        }
        html, body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .cardx, .card3 { 
            margin-top: 0px;  
            outline: 0.25px solid #009500;
            background: linear-gradient(to top right, #fff, #EEEEEE, #fff);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
            text-align: center;
            padding: 5px;            
            cursor: pointer;
            width: 100px;
            height: 120px;
            transition: transform 0.2s; 
        }
        .cardx:hover, .card3:hover {
            transform: scale(1.05);    
        }
        .cardx img, .card3 img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 8px;
        }
        .cardx p, .card3 p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0;
    margin-top: -17px;
    font-family: Arial, sans-serif;
    line-height: 0.9;
    color: #009500;
    font-weight: bold;
    font-size: 13px;
        }
                           
        .item-card {
            margin-top: 0px;                                      
            text-align: center;
            padding: 5px;            
            cursor: pointer;
            width: 100px;
            height: 115px;
            transition: transform 0.2s;
        }
        .item-card:hover {
            transform: scale(1.05);
        }
        .item-card img {
            width: 100%;
            height: auto;
            outline: 0.5px solid #009500; 
            object-fit: cover;
            border-radius: 10px;
        }
        .item-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0;
    margin-top: -15px;
    line-height: 1;
    color: #009500;
    font-weight: bold;
    font-size: 13px;
        }  
.select-store {
  display: flex;
  background: #fff;
  gap: 20px;
  position: fixed;
  overflow-y: hidden;
  top: 0;
  left: 0%;
  width: 100%;
  height: 50px;
  padding: 5px;
  justify-content: center;
  margin-top: 94px;
  z-index: 10;
}
.cardz {
  margin-top: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
  text-align: center;
  height: 30px;
  cursor: pointer;
}
.cardz:hover {
  color: darkred;
}
.cardz p {
  margin: 10px;
  margin-top: -3px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  white-space: ;
}
        .stores-grid {            
            display: grid; 
            grid-template-columns: repeat(3, 1fr); 
            justify-content: center; 
            gap: 20px; 
            width: calc(100% - 120px); 
            margin: 0 auto; 
            margin-top: 10px; 
            padding: 10px; 
            box-sizing: border-box;
        }                   
        .stores-card {
            margin-top: 0px;                                      
            text-align: center;
            padding: 5px;            
            cursor: pointer;
            width: 100px;
            height: 115px;
            transition: transform 0.2s;
            cursor: pointer;
        }
        .stores-card:hover {
            transform: scale(1.05);
            color: darkred;
        }              
        .stores-card img {         
    width: 100%;
    outline: 0.5px solid #000;               
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    display: block;
    border-radius: 50%; 
}
        .stores-card p {
            margin-top: 3px;
            line-height: 0.8;
            color: #009500;
            font-size: 15px;
            white-space: ;
            font-weight: bold;
        }  
       
#editPopup {
    background: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}
#editPopup h3 {
    margin: 0 0 10px 0;
}
#editPopup button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#editPopup button:hover {
    background: #ddd;
}    
#saveLocationPopup, #editPopup {
    display: none;
    position: fixed;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid #009500;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    width: 300px; 
}
.input-container {
    display: flex;
    justify-content: center;
}
#saveLocationInput, #editNameInput {
    width: 100%;
    padding: 8px;
}
.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#cancelButton, #saveLocationConfirm, #editNoButton, #editYesButton {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
}
#cancelButton, #editNoButton {
    background-color: #73A16C;
    color: white;
}
#cancelButton:hover, #editNoButton:hover {
    background-color: #5b8457;
}
#saveLocationConfirm, #editYesButton {
    background-color: #009500;
    color: white;
}
#saveLocationConfirm:hover, #editYesButton:hover {
    background-color: #007d00;
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#countdown-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    z-index: 9999;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loading-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid white;
    border-top: 4px solid #009500;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

#popup-box {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 250px;
    background-color: white;
    border: 2px solid #009500;
    border-radius: 5px;
    box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.3);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popup-box p {
    margin: 0;
}

#popup-ok {
    margin-top: 15px;
    padding: 5px 15px;
    border: none;
    background-color: #009500;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 100;
}
.footer-btn {
  color: white;
  font-size: 24px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.footer-btn:focus {
  outline: none;
}
.footer-btn i {
  font-size: 28px;
}
.footer-btn img {
margin-top: -30px;
}  
        #main-content {
            display: none;
        }

        /* Welcome Screen */
        #welcome {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            z-index: 9999;
        }

        /* Welcome Heading */
        #welcome h1 {
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 50px;
            color: #009500;
            text-shadow: 6px 0px 0px black;
        }

        /* Letter Animation */
        #welcome h1 span {
            opacity: 0;
            margin-right: 5px;
            display: inline-block;
            transform: translateX(50px);
            font-style: italic;
            animation: welcome-letter-emerge 0.5s ease-in-out forwards;
        }

        #welcome h1 .s { color: #A0D6B4; }
        #welcome h1 .online {
            color: #E0E5E5;
            font-style: normal;
            opacity: 0;
            font-size: 30px;
            transform: translateX(50px);
            animation: welcome-word-emerge 0.5s ease-in-out forwards 1.5s;
            text-shadow: 2px 0px 0px black;
        }

        /* Dot Animation */
        #welcome h1 .dot {
            color: black;
            font-size: 40px;
            opacity: 1;
            display: inline-block;
            transform: scale(100);
            animation: welcome-dot-shrink 1s ease-in-out forwards;
            margin-left: 5px;
            margin-right: 5px;
            text-shadow: none;
        }

        /* Animations */
        @keyframes welcome-letter-emerge {
            0% { opacity: 0; transform: translateX(50px); }
            100% { opacity: 1; transform: translateX(0); }
        }

        @keyframes welcome-word-emerge {
            0% { opacity: 0; transform: translateX(50px); }
            100% { opacity: 1; transform: translateX(0); }
        }

        @keyframes welcome-dot-shrink {
            0% { transform: scale(100); }
            100% { transform: scale(1); }
        }

        /* Sequential Delays */
        #welcome h1 span:nth-child(1) { animation-delay: 0.1s; }
        #welcome h1 span:nth-child(2) { animation-delay: 0.2s; }
        #welcome h1 span:nth-child(3) { animation-delay: 0.3s; }
        #welcome h1 span:nth-child(4) { animation-delay: 0.4s; }
        #welcome h1 span:nth-child(5) { animation-delay: 0.5s; }
        #welcome h1 span:nth-child(6) { animation-delay: 0.6s; }
        #welcome h1 span:nth-child(7) { animation-delay: 0.7s; }
        #welcome h1 span:nth-child(8) { animation-delay: 1s; }
        #welcome h1 span:nth-child(9) { animation-delay: 2.2s; } 

        .content-section {
          display:none; 
          height:auto; 
          padding:10px 2px; 
          margin:20px 5px; 
          gap:20px; 
          grid-template-columns:repeat(10, 1fr); 
          overflow-x: auto;
        }
        
